.descContainer p {
    color: white;
    user-select:none;
}

.descContainer {
    background-color: black;
    opacity: 0.2;
    width: 100px;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    transform: translate(-50%,50%);
    border-radius: 20px;
}

.descContainer:hover {
    opacity: 1;
}

#hider{
  visibility: collapse;
}
